@import "partials/mixins";
@import "partials/params";
@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: 'menuFont';
    src: url('fonts/bpg_excelsior_caps_dejavu_2010.ttf');

}

html,
body {
    @include clear;
    width: 100%;
}

.view-port {
    max-width: $view-port;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @include clear;

}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box
}

.wrapper {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;

    @include medium-screen {
        padding: 0 20px;
    }
}